* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Ravel",Arial, Helvetica, sans-serif;
    font-size: 1rem;
    
}

:root {
    --color1:#525771;
    --color2:#ade4f7;
    --color3:#4d6e75;
    --color5:#72526d;

}

body {
    background-color: var(--color1);
    color: var(--color1);
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

svg {
    color: var(--color1);
    width: 1.5em;
    aspect-ratio: 1/1;

    display: flex;
    align-content: center;

}

a {
    text-decoration: none;
    color: unset;
}

/* Makes the entire block clickable and not just the text */
ul li {
    width: 100%;
    height: 100%;
} 

/* -------------------------- */

header {
    padding: 1em 1em;
    background-color: var(--color2);
}
.row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    background-color: var(--color2);
}
.logo {
    font-size:1.5em ;
}

.navlinks-container {
    display: inline-flex;
    width: 100%;
    height: 100%;

    justify-content: flex-end;
    text-align: center;
    gap: .4em;
}
.navlinks-list {
    display: inline-flex;
    justify-content: flex-start;
    gap: 1em;
    align-items: center;

    height: 100%;
}

.navlinks-list > li {
    width: 5em;
    height:100%;

    border-radius: .2em;
    padding: .3em;
    }

.navlinks-list > li:hover {
    background-color: var(--color1);
    color: white;
}

.hamburger-svg-container {
    display: none;
    justify-content: center;
    align-items: center;
    
    width: 2em;
    
    
}

header > .row2 {
    display: none;
}

@media (max-width:768px) {
    .navlinks-list {
        display: none;
    }

    .hamburger-svg-container {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        transform: rotate 0deg;
        transition: transform .6s ease;

    }

    .hamburger-svg-container:hover {
        transform: rotate 90deg;
    }

    header > .row2 {
        display: flex;
        width: 100%; 
        height: fit-content;
        
        padding-top: .5em;

        justify-content: flex-start;
        align-items: center;
    }

    .mobile-navlinks-container {
        display: flex;
        width: 100%;


    }

    .mobile-navlinks-list {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        height: 6em;
        justify-content: flex-start;
        text-align: center;
        gap: .4em;
    }

    .mobile-navlinks-list > li {
        
    }

    .mobile-navlinks-list > li:hover {
        background-color: var(--color1);
        color: white;
    }


    
}

