* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Ravel",Arial, Helvetica, sans-serif;
    font-size: 1rem;
    
}

:root {
    --color1:#303633;
    --color2:#8BE8c8;
    --color3:#4d6e75;
    --color4:#525771;
    --color5:#72526d;

}

body {
    background-color: var(--color4);
    color: white;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

svg {
    color: white;
    width: 1.5em;
    aspect-ratio: 1/1;

    display: flex;
    align-content: center;

}

a {
    text-decoration: none;
    color: unset;
}

header {
    padding: 1em 2em;
}
header.row1 {
    display: inline-flex;
    justify-content: flex-start;
    align-content: center;

    width: 100%;
    height: 5em;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4em;
    height: max(100%,fit-content);

}

.navlinks-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 100%;
    
}


.navlinks-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: max(16em,fit-content);
    height: 100%;
}

nav ul li {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 4em;
    height: 2em;
    text-align: center;
}

nav ul li:hover {
    background-color: var(--color5);
    
}

.hamburger-menu {
    display: none;
}


.mobile-navlinks-container {
    display: none;
}

@media (max-width: 480px) {
    .navlinks-items{
        display: none;
    }


    .hamburger-menu {
        display:flex
    }

    .navlinks-container {
        display: flex;
        width: 100%;
        height: max(fit-content,32em);
    }

}